<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mixpanel.src"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
         android:theme="@android:style/Theme.Light"    >
        <activity android:name="com.mixpanel.src.Event_top" > 
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.mixpanel.src.Create_graph" >
        </activity>
        <activity android:name="com.mixpanel.src.ParseJSON" >
        </activity>
        <activity android:name="com.mixpanel.src.Webview_graph" >
        </activity>
        <activity
            android:name="com.mixpanel.src.Prefrenceactivity"
            android:label="@string/title_activity_prefrenceactivity" >
        </activity>
        <activity
            android:name="com.mixpanel.src.Event_activity"
            android:label="@string/title_activity_event_activity" >
        </activity>
        <activity
            android:name="com.mixpanel.src.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.mixpanel.src.Splash"
             >
        </activity>
       <activity 
           android:name="com.mixpanel.src.Top_event_click"
           ></activity>
            <activity 
           android:name="com.mixpanel.src.Conf_API"
           ></activity>
    </application>

</manifest>