<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mixpanel.src"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission>

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppBaseTheme" >
        <activity
            android:name="com.mixpanel.src.Splash"
            android:screenOrientation="portrait" 
             android:label="Mixpanel">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.mixpanel.src.Home"  >
        </activity>
        <activity android:name="com.mixpanel.src.Create_graph" >
        </activity>
        <activity android:name="com.mixpanel.src.ParseJSON" >
        </activity>
        <activity android:name="com.mixpanel.src.Webview_graph" >
        </activity>
        <activity
            android:name="com.mixpanel.src.Prefrenceactivity"
            android:label="Settings" >
        </activity>
        <activity
            android:name="com.mixpanel.src.Prefrenceactivity_event"
            android:label="Event settings" >
        </activity>
        <activity
            android:name="com.mixpanel.src.event_final"
            android:label="Events" >
        </activity>
        <activity
            android:name="com.mixpanel.src.MainActivity1"
            android:label="@string/app_name" >
        </activity>
        <activity android:name="com.mixpanel.src.demo.Demo" android:theme="@style/Theme.Transparent" >
        </activity>
        <activity android:name="com.mixpanel.src.Event_top_click" 
             android:label="Top event">
        </activity>
        <activity android:name="com.mixpanel.src.Conf_API" >
        </activity>
        <activity android:name="com.mixpanel.src.ItemListActivity" >
        </activity>
        <activity android:name="com.mixpanel.src.ItemDetailActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ItemListActivity" />
        </activity>
        <activity android:name="com.mixpanel.src.Check_key" >
        </activity>
        <activity
            android:name="com.mixpanel.src.Event_activity"
             android:label="All events" >
        </activity>
        <activity
            android:name="com.mixpanel.src.Funnel_home"
            android:label="@string/title_activity_funnel_home" >
        </activity>
        <activity
            android:name="com.mixpanel.src.Funnel"
            android:label="@string/title_activity_funnel" >
        </activity>
        <activity
            android:name="com.mixpanel.src.Funnel_activity"
            android:label="@string/title_activity_funnel_activity" >
        </activity>
        <activity
            android:name="com.mixpanel.src.Event_top"
            android:label="Top events" >
        </activity>
        <activity
            android:name="com.mixpanel.src.About"
            android:label="@string/title_activity_about"
             >
        </activity>
        <activity
            android:name="com.mixpanel.src.Prefrenceactivity_event_top"
            android:label="Top event filter" 
           >
        </activity>
        <activity
            android:name="com.mixpanel.src.Landing_activity"
            android:label="@string/title_activity_home" >
        </activity>
        <activity
            android:name="com.mixpanel.src.Home_graph"
            android:label="@string/title_activity_home_graph" >
        </activity>
    </application>

</manifest>